
AUTH_LOG_FILE1="/var/log/auth.log.1"
AUTH_LOG_FILE2="/var/log/auth.log"
CUSTOM_LOG_FILE=".tmp.sniffer_LOG"

# MAIN PATH = $PATH, to be defined in main code
DATA_PATH="DATA_SNIFFER"

file_bad_boys="${PATH}/${DATA_PATH}/BAD_USERS.DAT"
file_banned_ips="${PATH}/${DATA_PATH}/BAD_IPS.DAT"
file_banned_ips_expired="${PATH}/${DATA_PATH}/BAD_IPS.HIST"
file_whitelist_ips="${PATH}/${DATA_PATH}/WHITELIST.DAT"
file_cfg="${PATH}/sniffer.CONFIG"
TMP_FILE="${PATH}/${DATA_PATH}/.tmpSniffer"

LABEL_PREV_DT="LAST_DT_PROCESSED"

# ---- Colores
RED="\033[1;31m"
GREEN="\033[1;32m"
NC="\033[0m"

# --- Constantes generales
TRUE="__True__"
FALSE="__False__"
FIELD_SEPARATOR=";"
FIELD_SEPARATOR_CFG_FILE="="

# --- Tiempo de vida de las reglas
MINS_EXPIRATION_RULE="1440"	# 1440m=24h

LAST_DT_PROCESSED_=1537846591
LAST_DT_PROCESSED=1539280261
